.profilepagejob-container-outer {
    background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
}

.profilepagejob-container {
    padding: 16px;
  }
  
  .profilepagejob-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .profilepagejob-icon-search::before {
    content: '\f002'; /* Unicode for search icon */
    font-family: 'FontAwesome';
  }
  
  .profilepagejob-profile-info {
    display: flex;
    align-items: center;
    margin: 16px 0;
    margin-top: 1px;
  }
  
  .profilepagejob-profile-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  
  .profilepagejob-profile-details {
    margin-left: 16px;
    margin-top: -10px;
  }
  
  .profilepagejob-profile-name {
    margin-bottom: 0;
  }
  
  .profilepagejob-profile-view {
    color: #6c757d; /* Similar to text-muted in Bootstrap */
  }
  
  
  .profilepagejob-list-group {
    border-top: 1px solid #dee2e6;
  }
  
  .profilepagejob-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #dee2e6;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }

  .profilepagejob-badge {
    background-color: #dc3545; /* Similar to bg-danger in Bootstrap */
    color: white;
    padding: 4px 8px;
    border-radius: 20px;
  }
  
  .profilepagejob-icon-chevron-right::before {
    content: '\f054'; /* Unicode for right arrow icon */
    font-family: 'FontAwesome';
  }
  
  .profilepagejob-text-muted {
    color: #6c757d;
  }
  